<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alternativa Moda | Revista</title>
    <meta
      name="description"
      content="An experimental slideshow with an inclined look with three slide previews and a content view on click."
    />
    <meta
      name="keywords"
      content="slideshow, javascript, tweenmax, rotation, animation, css"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body class="loading">
    <!--|||||||||||||||||||||||||||||||||||||||||-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Alternativa moda</a>
        <div class="d-flex justify-content-end">
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ultima edición</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ferias y Exposiciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suscripciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <h1
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 140px;
      "
    >
      Alternativa Moda
    </h1>

    <br /><br /><br />
    <!--Exposiciones-->
    <div class="divider">
      <span></span><span><h2>Exposiciones</h2></span><span></span>
    </div>

    <div class="d-flex justify-content-center">
      <div class="grid">
        <article
          id="exicalDigital"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/alternativa-moda-681x1024.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Exical Digital</h4>
          </div>
        </article>
        <article
          id="micam"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/107B.-MICAM-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">MICAM</h4>
          </div>
          <p class="card-event">21 al 23 de marzo de 2021. Milán, Italia.</p>
        </article>
        <article
          id="futurmoda"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/093-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Futurmoda</h4>
          </div>
          <p class="card-event">
            7 al 8 de abril de 2021. Elche, Alicante España.
          </p>
        </article>
        <article
          id="sicc"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/099-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">SICC</h4>
          </div>
          <p class="card-event">24 al 26 de mayo de 2021. Gramado, Brasil.</p>
        </article>
        <article
          id="aplf"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/115-APLF-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">APLF</h4>
          </div>
        </article>
        <article
          id="fashionAccess"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/079-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Fashion Access</h4>
          </div>
        </article>
        <article
          id="leatherShoetech"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/105.Shoetech-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title" style="margin: 0pc">Leather & Shoetech</h4>
          </div>
        </article>
        <article
          id="zero"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/103.-ZEROGRAU-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">ZERO°</h4>
          </div>
        </article>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <script src="/js/redirect.js"></script>
    <!--
		<script src="/js/charming.min.js"></script>
		<script src="/js/TweenMax.min.js"></script>
		<script src="/js/demo.js"></script>
		--></body>
</html>
