<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alternativa Moda | Revista</title>
    <meta
      name="description"
      content="An experimental slideshow with an inclined look with three slide previews and a content view on click."
    />
    <meta
      name="keywords"
      content="slideshow, javascript, tweenmax, rotation, animation, css"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!--jquery-->
    <script type="text/javascript" src="/extras/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="/extras/modernizr.2.5.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/extras/jquery.mousewheel.min.js"
    ></script>
    <!-- turn.js files -->

    <script type="text/javascript" src="/lib/hash.js"></script>
    <script type="text/javascript" src="/js/magazine.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="/css/magazine.css"></link>-->
  </head>

  <br /><br /><br />
  <body class="loading">
    <!--|||||||||||||||||||||||||||||||||||||||||-->
    <a class="header__img" href="">
      <img src="/img/LOGO.svg" alt="" />
    </a>


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-primary">Ultima edición</button>
  <button type="button" class="btn btn-outline-primary">Suscripciones</button>
  <button type="button" class="btn btn-outline-primary">Nota Editorial</button>
  <button type="button" class="btn btn-outline-primary">Exposiciones</button>
  <button type="button" class="btn btn-outline-primary">Ediciones anteriores</button>
  <button type="button" class="btn btn-outline-primary">login</button>
</div>


    <br /><br /><br />
    <!--Ultima edición-->
    <div class="divider" style="margin-bottom: 0px;"">
      <span></span><span><h2>Ultima edición</h2></span><span></span>
    </div>

    <div class="magazine-viewport">
      <div class="container">
        <div class="magazine">
          <!-- Next button -->
          <div ignore="1" class="next-button"></div>
          <!-- Previous button -->
          <div ignore="1" class="previous-button"></div>
        </div>
      </div>
      <p>
        Ya podés solicitar la última edición de Alternativa Moda con los
        adelantos de la Temporada otoño/invierno 2021.
      </p>
    </div>

    <div class="divider">
      <span></span><span><h2>Nota Editorial</h2></span><span></span>
    </div>

    <!--Exposiciones-->
    <div class="divider">
      <span></span><span><h2>Exposiciones</h2></span><span></span>
    </div>

    <div class="d-flex justify-content-center">
      <div class="grid">
        <article
          id="exicalDigital"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/alternativa-moda-681x1024.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Exical Digital</h4>
          </div>
        </article>
        <article
          id="micam"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/107B.-MICAM-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">MICAM</h4>
          </div>
          <p class="card-event">21 al 23 de marzo de 2021. Milán, Italia.</p>
        </article>
        <article
          id="futurmoda"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/093-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Futurmoda</h4>
          </div>
          <p class="card-event">
            7 al 8 de abril de 2021. Elche, Alicante España.
          </p>
        </article>
        <article
          id="sicc"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/099-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">SICC</h4>
          </div>
          <p class="card-event">24 al 26 de mayo de 2021. Gramado, Brasil.</p>
        </article>
        <article
          id="aplf"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/115-APLF-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">APLF</h4>
          </div>
        </article>
        <article
          id="fashionAccess"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/079-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">Fashion Access</h4>
          </div>
        </article>
        <article
          id="leatherShoetech"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/105.Shoetech-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title" style="margin: 0pc">Leather & Shoetech</h4>
          </div>
        </article>
        <article
          id="zero"
          class="card border-secondary mx-3 mb-5"
          style="max-width: 17rem; min-width: 17rem"
        >
          <div
            class="card-header"
            style="
              background-image: url(/img/expo/103.-ZEROGRAU-768x997.jpg);
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div>
          <div class="card-body d-flex justify-content-center">
            <h4 class="card-title">ZERO°</h4>
          </div>
        </article>
      </div>
    </div>

    <!--Revistas-->
    <div class="divider">
      <span></span><span><h2>Revistas</h2></span><span></span>
    </div>
    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/000-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM-33-baja-230x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM32-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM-31-baja-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/Tapa-AM-30-web-CHICA-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM29-WEB-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
      </div>
    </section>

    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM-28-WEB-216x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/Tapa-AM-27-baja-221x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM26-CHICA-100DPI-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/Tapa-AM-25-231x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/Tapa-AM-24-BAJA-chica1-230x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="/img/revistas/TAPA-AM-23-baja-226x300.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img src="/img/svg-icons/icons8-más.svg" />
            </div>
            <p class="carousel-item__details--title">Título de ejemplo</p>
            <p class="carousel-item__details--subtitle">24 / 08 /2021</p>
          </div>
        </div>
        <!-- -_-_-_-_- -->
      </div>
    </section>

    <script src="/js/redirect.js"></script>

    <script type="text/javascript" src="/js/logic.js"></script>
  </body>
</html>
